<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>
</head>
<body>
    <h1>{{num1}} {{operation_symbol}} {{num2}}</h1>
    <p>Answer = {{answer}}</p>
    <form action="/calculate">
        <input required type="number" name="num1" placeholder="Enter the first number"><br>
        <input required type="text" name="operation_symbol" placeholder="+, -, *, /"><br>
        <input required type="number" name="num2" placeholder="Enter the next number"><br>
        <button type="submit">Calculate</button>
    </form>
</body>
</html>