<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Input</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>
</head>
<body>
    <h1>Invalid Operation Symbol</h1>
    <p>Try Again!!!</p>
    <p>Add, Substract, Divide and Multiply.</p>
    <form action="/calculate">
        <input type="number" name="num1" placeholder="Enter the first number"><br>
        <input type="text" name="operation_symbol" placeholder="+, -, *, /"><br>
        <input type="number" name="num2" placeholder="Enter the next number"><br>
        <button type="submit">calculate</button>
    </form>
</body>
</html>